body {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover; 
}

#universidad{
  text-align: center;
  font-size: 80px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); /* Horizontal, Vertical, Radio, Color */
  background-color: white;
  border-radius: 20px;

}

#bienvenido{
  font-size: 80px;
  font-family:cursive;
  text-align: center;
}

#formulario{
  font-size: 80px;
  font-family:cursive;
  text-align: center;
  margin: 50px;
}

#div-central{
  background-color: white;
  border-radius: 20px;
  width: 50%;
  box-shadow: 20px 20px 1px rgba(0, 0, 0, 0.3); /* Horizontal, Vertical, Radio, Color */
}

#boton{
  margin: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); /* Horizontal, Vertical, Radio, Color */
}

#texto{
font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#div-formulario{
  background-color: white;
  border-radius: 20px;
  width: 100%;
  box-shadow: 20px 20px 1px rgba(0, 0, 0, 0.3); /* Horizontal, Vertical, Radio, Color */
  padding: 15px;
}

.input-group{
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.3); /* Horizontal, Vertical, Radio, Color */
}